services:
  app:
    build: .
    ports:
      - "3002:3000"
    environment:
      - NODE_ENV=production
    restart: always
    volumes:
      - sqlite_data:/app/prisma/data

volumes:
  sqlite_data:
