@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "RFDewiExpanded-Ultrabold";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(./fonts/RFDewiExpanded-Ultrabold.ttf);
  }
  @font-face {
    font-family: "RFDewiExpanded-Bold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./fonts/RFDewiExpanded-Bold.ttf);
  }
  @font-face {
    font-family: "RFDewiExpanded-Light";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/RFDewiExpanded-Light.ttf);
  }
  @font-face {
    font-family: "Bahnschrift";
    src: url(./fonts/bahnschrift.ttf);
  }
}

@layer utilities {
  .bg-striped {
    background: repeating-linear-gradient(
      -45deg /* угол наклона */,
      rgba(189, 189, 189, 0.3) /* цвет линии */,
      rgba(189, 189, 189, 0.3) 1px /* цвет линии и её конец (1px) */,
      transparent 1px /* цвет фона после линии */,
      transparent 6px /* конец промежутка (5px + 1px толщина линии) */
    );
  }

  .bg-dark-striped {
    background: repeating-linear-gradient(
      -45deg /* угол наклона */,
      #434648 /* цвет линии */,
      #434648 1px /* цвет линии и её конец (1px) */,
      #22282E 1px /* цвет фона после линии */,
      #22282E 6px /* конец промежутка (5px + 1px толщина линии) */
    );
  }
}
